/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

// .wp-block-tails2tell-section {
	
// }

.hasBottomSetting{
	margin-top: 24px;
}

.unit-control{
	.components-input-control__container{
		max-width: 100px;
	}
	.components-unit-control__select{
		width: 2rem;
	}
}
